body{
    margin: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/Patterns.jpg");
}

nav {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
}

.logo {
    color: tomato;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0.2rem;
}

nav a{
    text-decoration: none;
    color: #000;
    padding: 1.5rem;

}

h1{
    color: white;
    font-style: italic;
    font-size: 5rem;
    text-align: center;
}

.pizza {
    display: grid;
    grid-template-columns: 10% 20% 50% auto;
    padding: 10px;
    color: white;
    font-style: italic;
    margin: 1rem;
    column-gap: 1rem;
  }

@media (max-width: 1000px) {
    .pizza {
      grid-template-columns: 10% auto auto auto;
    }
  }

  .pizza > div {

    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

.ingredients{
    font-size: 0.75rem;
}

.name {
    font-size: 1.3rem;
}

.imgage img{
    border-radius: 25px;
    width: 150px; 
    height: 80px;
}

.sparkle{
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    margin: 1.5rem;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/gin-tonic-4b44bee1.webp");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: 45%;
    border-radius: 25px;

}

.soft{
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    margin: 1.5rem;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/soft.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
    border-radius: 25px;  
}

.bev{
    
    display: grid;
    grid-template-columns: 10% auto;
    margin: 1rem;
    column-gap: 1rem;
    padding: 10px;
    row-gap: 5rem;

    font-style: italic;
    color: white;

}

.bev > div {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

.nam{
    font-size: 1.3rem;
}

section{
    display: grid;
    margin: 10rem;
    background-color: tomato;
    border-radius: 25px;

    font-style: italic;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 2rem;

}

section p{
    font-size: larger;
}

.log{
    color: tomato;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 2.5rem;
    text-align: center;
    background-color: white;
}